<html>
    <head>
      <title>signin page</title>
    </head>
    <body>
        <form action="/login" method="post">
            <input type="text" name="user"><br>
            <input type="password" name="password"><br>
            <input type="submit" name="register">
      </form>
      </form>
    </body>
</html>