<html>
    <head>
        <title>
            login page
        </title>
    </head>
    <body>
        <form action="/register" method="post">
              <input type="text" name="user"><br>
              <input type="password" name="password"><br>
              <input type="submit" name="register">
        </form>
    </body>
</html>