<html>
    <head>
        <title>super-chat page</title>
        <script src = "/socket.io/socket.io.js"></script>
        <script>
        var socket = io('http://localhost:3000');
        </script>
    </head>
    <body>
       hello world 
    </body>
</html>